.info-field
	margin-bottom 6px
	display flex
	align-items flex-end
	line-height 54px

	&__name
		padding-left 2px
		font-size 22px
		font-weight bold
		color #2f1b15
	&__input
		flex-grow 1
		margin-left 10px
		padding-left 22px
		padding-bottom 22px
		height 56px
		font-family 'Courier new', serif
		font-size 30px
		color #2f1b15
		background-color transparent
		background-image url(/assets/images/line1.png)
		background-repeat no-repeat
		background-position-y 12px
		border none
		

		
