.date-field
	display flex
	align-items flex-end

	&__name
		font-family 'PTSans'
		font-size 22px
		font-weight bold
		color #2f1b15
	&__input
		margin-left 14px
		padding-left 16px
		padding-bottom 13px
		width 212px
		height 37px
		font-family 'Courier new', serif
		font-size 30px
		color #231f20
		background-color transparent
		background-image url(/assets/images/line1.png)
		background-repeat no-repeat
		background-position-y 5px
		border none