.header
	display flex
	justify-content space-between

	&__logo
		margin-top 62px

	&__image	
		width 154px

	&__stamp
		margin-top 48px
		display block
		width 251px
		height 106px
		transform translateX(64px)
