mixin stages()
	+b.stages&attributes(attributes)
		+e('p').no-js Не владею
		+e('p').junior-js Использую готовые решения
		+e('p').middle-js Использую готовые решения и умею их переделывать
		+e('p').senior-js Пишу сложный JS с нуля