.text
	margin-top 10px
	margin-bottom 54px
	&__about
		margin-top 18px
		padding-top 8px
		padding-left 4px
		overflow hidden
		width 100%
		min-height 181px
		font-family 'Courier new', serif
		font-size 30px
		line-height 60px
		background-color transparent
		background-image url('/assets/images/line2.png')
		border none
	&__hidden
		position absolute
		left -9999px
		padding-top 8px
		visibility hidden
		width 771px
		font-family 'Courier new', serif
		font-size 30px
		line-height 60px
		background-color transparent
		background-image url('/assets/images/line2.png')